h1 {
	text-align: center;
}

h2 {
	color: blue;
	text-decoration: underline;
}

h3 {
	color: yellow;
}

header {
	color: darkblue;
	font-size: 32px
}

body {
	font-family: "Comic Sans MS";
	background-image: url("Images/pharmacy nuts.jpg");
}

article {
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
}

.highlight {
		background-color: lightgreen;
}

.darkorange {
	color: darkorange;
}

.crimson {
	color: crimson;
}

.indigo {
	color: indigo;
}

.green {
	color: green;
}

img {
	border-radius: 50%
}

p {
	text-align: center;
}

table {
	border: 4px #FAFAFA;
}

.my-box {
	display: inline-block;
	border: 3px solid cornflowerblue;
	padding: 10px;
	margin: 25px;
	background-color: indigo;
}

.my-box h3 {
	margin: 0;
}

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
}

.fixed2 {
	position: fixed;
	top: : 0;
	right: 0;
	width: 200px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: red;
	background-color: black;
	margin: 20px
	padding: 10px;
}

a {
	color: red;
}